<div class="hero fluid-container">
    <div class="video-container">
        <video muted autoplay loop>
            <source
                src="https://res.cloudinary.com/dkfzj9tmk/video/upload/v1677165977/backend-project/SnapSave.io-Rick_and_Morty_Theme_Song_HD_kbgyqe.mp4"
                type="video/mp4" />
        </video>
        <div class="caption">
            <img src="https://res.cloudinary.com/dkfzj9tmk/image/upload/v1677166689/backend-project/Rick-And-Morty-Logo-Transparent-File_arpmel.png"
                alt="" class="img-fluid">
        </div>
    </div>
    <div class="features">
        <div class="container py-1">
            <div class="row justify-content-center text-center py-5">
                <div class="card gap-2" style="width: 17rem; border: none">
                    <img src="https://res.cloudinary.com/dkfzj9tmk/image/upload/v1677169526/backend-project/pngimg.com_-_rick_morty_PNG22_hl682g.png"
                        class="features-img card-img-top p-5" alt="account icon">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-3">Create your account</h5>
                        <p class="card-text mb-4">Create a new account to see the community and the events!
                        </p>
                    </div>
                </div>
                <div class="card gap-2" style="width: 17rem; border: none">
                    <img src="https://res.cloudinary.com/dkfzj9tmk/image/upload/v1677169524/backend-project/Rick-And-Morty-Wallpaper-PNG-Pic_gsq8up.png"
                        class="features-img card-img-top p-5" alt="wiki icon">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-3">Cheeck the Rick and Morty wiki</h5>
                        <p class="card-text mb-4">You can find all the information about Rick and Morty in our wiki and
                            add it to favorites if you have an account!
                        </p>
                    </div>
                </div>
                <div class="card gap-2" style="width: 17rem; border: none">
                    <img src="https://res.cloudinary.com/dkfzj9tmk/image/upload/v1677169521/backend-project/58f37747a4fa116215a92414_gurcjl.png"
                        class="features-img card-img-top p-5" alt="events icon">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-3">Meet people in the events</h5>
                        <p class="card-text mb-4">Participate in the events and meet new fans of Rick and Morty!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-img">
        </div>

        <footer>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    All rigth reserved. Created by Ivan and Pimba
                </div>
            </div>
        </footer>
    </div>