body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.errorMessage {

  background-color: rgb(232, 158, 158);
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  border-radius: 3px;
}

.avatar {
  height: 200px;
  width: auto;
}

.logo {
  height: 40px;
  width: auto;
}

#map {
  height: 300px;
}

.participants img {
  height: 40px;
  width: auto;
}

.li-participants {
  list-style-type: none;
}

.avatarNavBar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.all-char img {
  width: auto;
  height: 50px;
}

.locations-img {
  background-image: url('/images/2.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.video-container {
  height: 94vh;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: opacity(75%);
}

.caption {
  position: absolute;
  max-width: max-content;
  margin-inline: auto;
}

.hero {
  background-size: contain;
  height: 94vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  justify-content: center;
  align-items: center;
}

.index-img {
  height: 500px;
  background-image: url('/images/index.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(10px)
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome h1 {
  font-size: 4em;
  font-weight: 900;
  color: greenyellow;
}

.features-img {
  height: 225px;
  width: 80%;
  margin-inline: auto;
  transition: 0.5s;

}

footer {
  background-color: black;
  color: white;
}

.locations-img {
  min-height: 100vh;
  background-image: url('/images/locations-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.characters-img {
  min-height: 100vh;
  background-image: url('/images/characters-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}


.episodies-img {
  min-height: 100vh;
  background-image: url('/images/episodies-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.events-img {
  min-height: 100vh;
  background-image: url('/images/events-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.white-letters {
  color: white;
}

.profile-img {
  min-height: 100vh;
  background-image: url('/images/profile-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}