body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.errorMessage {

  background-color: rgb(232, 158, 158);
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  border-radius: 3px;
}

.avatar {
  height: 200px;
  width: auto;
}

.logo {
  height: 40px;
  width: auto;
}

#map {
  height: 300px;
}

.participants img {
  height: 40px;
  width: auto;
}