<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Name: {{episode.name}}</h5>
                            <p class="card-title">Air date: {{episode.air_date}}</p>
                            <p class="card-text">Episode: {{episode.episode}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/episodies/1" class="btn btn-dark">Back to all episodies</a>
</div>